@charset "UTF-8";

*{margin: 0; padding: 0;}

/*----Navigation Bar----*/
header{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-logo-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-logo{
    height: 3em;
}

.nav-content-btn{
    display: none;
    border: none;
    background-color: white;
}
.icon-bar{
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: #000000;
    margin: 4px 0;
}

nav{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 200;
}
.nav-content{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.nav-content li{
    width: 100%;
    text-align: center;
}
.nav-content li a{
    text-decoration: none;
    color: #747474;
}

@media screen and (max-width: 768px) {
    .logo{
        width: 100%;
        height: 100%;
        justify-content: space-between;
    }
    .nav-logo-container{
        width: 25%;
    }
    .nav-content-btn{
        display: block;
        cursor: pointer;
        margin: 0 2em;
    }
    .icon-bar.show{
        transform: rorateX(45deg);
    }

    nav{
        display: none;
    }
    nav.show{
        display: flex;
        width: 100%;
        background-color: white;
    }
    .nav-content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        height: 15vh;
    }
}

/*----Footer----*/
footer{
    background-color: rgb(40, 40, 40);
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer span{
    color: white;
}
